.chart {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.chart__title {
  color: #333333;
  align-self: center;
  font-size: 20px;
  line-height: 48px;
}

.chart__bottomLabel {
  color: #333333;
  align-self: center;
  line-height: 28px;
}

.chart__wrapper {
  width: 100%;
  max-height: 200px;
}

.chart__content {
  width: 100%;
  max-height: 200px;
}