.widget {
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #979797;
  padding: 20px 70px 10px 10px;
  width: 100%;
  height: 100%;
}

.widget__title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #4A4A4A;
}

.widget__content {

}

.widget__contentList {

}

.widget__contentListItem {
  color: #4A4A4A;
}

.widget__contentListItem_done {
  font-weight: bold;
  color: #33691D;
}

.widget__contentListItem_inProgress {
  font-weight: bold;
  color: #D2302F;
}

.widget__contentListItem_todo {
  font-weight: bold;
  color: #E0E0E0;
}