.widget {
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #979797;
  padding: 20px;
  width: 200px;
  height: 80px;
  background-color: #fff;
}

.widget__contentListItem {
  margin-bottom: 10px;
  cursor: pointer;
  color: #4A4A4A;
}

.widget__contentListItem:hover {
  font-weight: bold;
}

.notification {
  transform: scale(0.9);
}