.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard__charts {
  flex: 2
}
.dashboard_chartsButtons {
  padding-left: 50px;
}
.dashboard__buttonDay {
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
}

.dashboard__buttonMonth {
  padding: 10px 20px 10px 20px;
}

.dashboard__chartsBottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  margin-top: 20px;
}

.dashboard__widgets {
  flex: 1;
  margin-top: 100px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dashboard__widgetsInfo {
  max-height: 180px;
  margin-bottom: 20px;
}
.dashboard__widgetsTask {
  max-height: 100px;
  margin-bottom: 20px;
}

.dashboard__widgetsNotifications {
  max-height: 260px;
}

@media screen and (max-width:1324px) {
  .dashboard {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }
  .dashboard__chartsBottom {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .dashboard__widgets {
    width: 100%;
  }
  .dashboard__charts {
    flex: 1;
    width: 100%;
  }
  .dashboard__widgets {
    margin-top: 0;
    padding-left: 0;
    max-height: 100vh;
    margin-bottom: 20px;
  }
  .dashboard__widgetsInfo {
    max-height: none;
  } 
  .dashboard__widgetsTask {
    max-height: none;
  }
  
  .dashboard__widgetsNotifications {
    max-height: none;
  }
}
