.content {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}

#main {
  width: 100%;
  padding-left: 45px;
  padding-right: 15px;
}

@media screen and (max-width:1324px) {
  #main {
    padding-left: 15px;
  }
}