.menu {
  width: 200px;
  height: calc(100vh - 95px);
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding-left: 45px;
}

.menu__links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.menu__links > li {
  margin-bottom: 20px;
}

.menu__linksItem {
  color: #4A4A4A;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;

}

.menu__linksItem:hover {
  font-weight: bold;
}

.menu__linksItem_active {
  font-weight: bold;
}

.mobileMenu {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9B9B9B;
  z-index: 15;
}

.mobileMenu__links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.mobileMenu__links > li {
  margin-bottom: 5px;
  width: 100%;
}

.mobileMenu__linksItem {
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
  width: 100%;
}

.mobileMenu__linksItem:hover {
  background-color: #fff;
  color: #4A4A4A;
}
.mobileMenu__linksItem_active {
  background-color: #fff;
  color: #4A4A4A;
}


@media screen and (max-width: 1324px) {
  .menu {
    display: none;
  }
  .mobileMenu {
    display: flex;
  }
}