.chart {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.chart__title {
  color: #333333;
  align-self: center;
  font-size: 20px;
  line-height: 48px;
}

.chart__wrapper {
  width: 100%;
  max-height: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart__content {
  width: 100%;
  max-height: 300px;
}

@media screen and (max-width: 1324px) {
  .chart {
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  .chart__content {
    transform: scale(0.9);
  }
}