.widget {
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #979797;
  padding: 20px;
  width: 280px;
  height: 260px;
  background-color: #fff;
}

.widget__contentListItem {
  color: #000;
  margin-bottom: 10px;
}

.notification {
  transform: scale(0.9);
}