.wrapper {
  max-width: 190px;
  position: relative;
}

.input {
  width: 180px;
  border: 1px solid #CCCCCC;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 10px;
}

.inputError {
  border: 1px solid #FF6455;
}

.error {
  color: #FF6455;
  font-size: 12px;
  position: absolute;
  top: 32px;
  left: 10px;
  text-align: start;
}