.students {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.students__title {
  width: 100%;
  vertical-align: text-top;
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
}

.students__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.students__table__add {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.students__table__addBtn {
  padding: 5px 6px 5px 6px;
}

.students__table__content {
  padding-top: 20px;
  width: 100%;
}

.students__pagination {
  padding-top: 50px;
}

@media screen and (max-width: 764px) {
  .students__table__content {
    display: flex;
    justify-content: center;
  }
}