.header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #9B9B9B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.header__logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo__mobileBurger {
  display: none;
}

.header__logo__mobileBurger__icon {
  color: #fff;
}

.header__logoText {
  font-size: 17px;
  line-height: 19px;
  color: #fff;
}

.header__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.header__notifications {
  padding-right: 30px;
  padding-top: 15px;
  height: 100%;
  position: relative;
}

.header__notificationsWidget {
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 15;
}

.header__notificationsIcon {
  fill: #fff;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.header__notificationsBadge {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #FF7D58;
  top: 15px;
  right: 32px;
  animation: pulse 2s infinite;
  z-index: 5;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 125, 88, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 7px rgba(255, 125, 88, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(2255, 125, 88, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 125, 88, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 125, 88, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 7px rgba(255, 125, 88, 0);
      box-shadow: 0 0 0 7px rgba(255, 125, 88, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 125, 88, 0);
      box-shadow: 0 0 0 0 rgba(255, 125, 88, 0);
  }
}

.header__profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.header__profileImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid #00BAA5;
  margin-right: 5px;
}

.header__profileName {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.header__profileWidget {
  position: absolute;
  right: 0;
  top: 38px;
  z-index: 15;
}

@media screen and (max-width: 1324px) {
  .header {
    position: relative;
    z-index: 15;
  }
  .header__profileWidget {
    display: none;
  }
  .header__notificationsWidget {
    display: none;
  }
  .header__logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .header__logo__mobileBurger {
    display: block;
    cursor: pointer;
  }
}